.header-almacen{
    display: flex;
    justify-content: space-between;
    button{
        color: black;
        font-weight: bold;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 10px;
    }
    button:hover{
        background: rgb(137, 173, 228);
        transition: .5s ease;
    }
}