.btn-icons{
    display: flex;
    
    gap: .5rem;
    button{
        width: 50px;
        
    }
}
.nombre{
    display: flex;
    align-items: center;
    gap: 1rem;
    button{
        border-radius: 50px;        
        width: 40px;
    }
}
.header-table {
    background-color: rebeccapurple;
}
#not-found-proveedor{
    position: absolute;
    top: 50%;
    left: 50%;
    td{
        background-color: transparent;
    }
}
.tabla-proveedores{
    display: flex;
    justify-content: center;
    
}
.proveedores{
    width: 1400px;
    min-width: 700px;
}